.clean{
    background-color:#99ff99;
}

.malicious{
    background-color:#ff9999;
}

.medium-risk{
    background-color:#ffff99;
}

.low-risk{
    background-color:#99d6ff;
}

.high-risk{
    background-color:#ffcc99;
}

.threat-table-container {
    display: inline-block;
    width: calc(100vw - 300px);
    height: 90vh;
    margin: 10px;
}

.threat-upload-container {
    display: inline-block;
    width: 200px;
    margin: 10px;
    vertical-align:top;
}

.pagination {
    float: right;
}
